<div class="center hero-unit">


<h1>Welcome Sample App</h1>
	<p>Esto es una aplicacion de tutorial de prueba	
	</p>
 
 <%= link_to "Sign up now!", sign_up_path, class:"btn btn-large btn-primary" %>

 </div>
 <%= link_to image_tag("rails.png", alt:"Rails"), '#' %>