<div class="center hero-unit">
<%= provide(:title, 'Home') %>
<h1>Welcome Sample App</h1>
<p>Esto es una aplicacion de tutorial de prueba</p>
 
 <%= link_to "Sign up now!", '#', class:"btn btn-large btn-primary" %>

 </div>
 <%= %>